USE [master]
GO
/****** Object:  Database [MKIWMS5]    Script Date: 4/24/2026 7:10:27 PM ******/
CREATE DATABASE [MKIWMS5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MKIWMS5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MKIWMS5.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MKIWMS5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MKIWMS5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MKIWMS5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MKIWMS5]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [bigint] NOT NULL,
	[AddressName] [nvarchar](200) NULL,
	[AddressDetail] [nvarchar](500) NOT NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[ActorUserId] [bigint] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[EntityType] [nvarchar](50) NOT NULL,
	[EntityId] [bigint] NULL,
	[Detail] [nvarchar](2000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandId] [bigint] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BrandName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[CertificateId] [bigint] IDENTITY(1,1) NOT NULL,
	[GRNLineId] [bigint] NOT NULL,
	[CertType] [nvarchar](10) NOT NULL,
	[CertNo] [nvarchar](100) NULL,
	[IssuedBy] [nvarchar](200) NULL,
	[IssuedDate] [date] NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [varchar](50) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Companies_CompanyCode] UNIQUE NONCLUSTERED 
(
	[CompanyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentApproval]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentApproval](
	[ApprovalId] [bigint] IDENTITY(1,1) NOT NULL,
	[DocType] [nvarchar](20) NOT NULL,
	[DocId] [bigint] NOT NULL,
	[StageNo] [int] NOT NULL,
	[Decision] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[ActionBy] [bigint] NOT NULL,
	[ActionAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentAttachments]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentAttachments](
	[AttachmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[DocType] [nvarchar](20) NOT NULL,
	[DocId] [bigint] NOT NULL,
	[AttachmentType] [nvarchar](30) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileUrlOrPath] [nvarchar](800) NOT NULL,
	[UploadedBy] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsDeliveryNoteLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsDeliveryNoteLines](
	[GDNLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[GDNId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[RequestedQty] [decimal](18, 3) NULL,
	[ActualQty] [decimal](18, 3) NOT NULL,
	[UomId] [bigint] NOT NULL,
	[ReleaseRequestLineId] [bigint] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Note] [nvarchar](1000) NULL,
	[RequiresCertificateCopy] [bit] NOT NULL,
	[LineTotal]  AS (CONVERT([decimal](18,2),[ActualQty]*isnull([UnitPrice],(0)))) PERSISTED,
	[LotId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[GDNLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsDeliveryNotes]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsDeliveryNotes](
	[GDNId] [bigint] IDENTITY(1,1) NOT NULL,
	[GDNCode] [nvarchar](50) NOT NULL,
	[ReleaseRequestId] [bigint] NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[PostedAt] [datetime2](7) NULL,
	[Note] [nvarchar](1000) NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PaymentMethod] [varchar](30) NULL,
	[TotalDeliveredQty] [decimal](18, 3) NOT NULL,
	[TotalDeliveredAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GDNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GDNCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptNoteLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptNoteLines](
	[GRNLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[GRNId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[ExpectedQty] [decimal](18, 3) NULL,
	[ActualQty] [decimal](18, 3) NOT NULL,
	[UomId] [bigint] NOT NULL,
	[RequiresCOCQ] [bit] NOT NULL,
	[PurchaseOrderLineId] [bigint] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LineTotal]  AS (CONVERT([decimal](18,2),[ActualQty]*isnull([UnitPrice],(0)))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[GRNLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptNotes]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptNotes](
	[GRNId] [bigint] IDENTITY(1,1) NOT NULL,
	[GRNCode] [nvarchar](50) NOT NULL,
	[PurchaseOrderId] [bigint] NULL,
	[SupplierId] [bigint] NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[ReceiptDate] [date] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[PostedAt] [datetime2](7) NULL,
	[Note] [nvarchar](1000) NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PaymentMethod] [varchar](30) NULL,
	[TotalReceivedQty] [decimal](18, 3) NOT NULL,
	[TotalGoodsAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GRNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[GRNCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAdjustmentLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAdjustmentLines](
	[AdjustmentLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[AdjustmentId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[SystemQty] [decimal](18, 3) NOT NULL,
	[CountedQty] [decimal](18, 3) NOT NULL,
	[QtyChange]  AS ([CountedQty]-[SystemQty]) PERSISTED,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjustmentLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryAdjustmentRequests]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryAdjustmentRequests](
	[AdjustmentId] [bigint] IDENTITY(1,1) NOT NULL,
	[AdjustmentCode] [nvarchar](50) NOT NULL,
	[StocktakeId] [bigint] NULL,
	[WarehouseId] [bigint] NOT NULL,
	[SubmittedBy] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[PostedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjustmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdjustmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryLots]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryLots](
	[LotId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[GRNLineId] [bigint] NULL,
	[ReceiptDate] [datetime2](0) NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[ExpiryDate] [datetime2](0) NULL,
	[IsActive] [bit] NOT NULL,
	[LocationId] [bigint] NULL,
 CONSTRAINT [PK_InventoryLots] PRIMARY KEY CLUSTERED 
(
	[LotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryOnHand]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryOnHand](
	[InventoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[OnHandQty] [decimal](18, 3) NOT NULL,
	[ReservedQty] [decimal](18, 3) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Inv] UNIQUE NONCLUSTERED 
(
	[WarehouseId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactionLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactionLines](
	[InventoryTxnLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[InventoryTxnId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[QtyChange] [decimal](18, 3) NOT NULL,
	[UomId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[LotId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryTxnLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[InventoryTxnId] [bigint] IDENTITY(1,1) NOT NULL,
	[TxnType] [nvarchar](20) NOT NULL,
	[TxnDate] [datetime2](7) NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[ReferenceType] [nvarchar](20) NOT NULL,
	[ReferenceId] [bigint] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PostedBy] [bigint] NULL,
	[PostedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryTxnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryCode] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](200) NOT NULL,
	[ParentId] [bigint] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemParameters]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemParameters](
	[ParamId] [bigint] IDENTITY(1,1) NOT NULL,
	[ParamCode] [nvarchar](50) NOT NULL,
	[ParamName] [nvarchar](200) NOT NULL,
	[DataType] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ParamCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemParameterValues]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemParameterValues](
	[ItemParamValueId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[ParamId] [bigint] NOT NULL,
	[ParamValue] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemParamValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IPV] UNIQUE NONCLUSTERED 
(
	[ItemId] ASC,
	[ParamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPrices]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPrices](
	[ItemPriceId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[PriceType] [nvarchar](20) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[EffectiveFrom] [date] NOT NULL,
	[EffectiveTo] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemCode] [nvarchar](50) NOT NULL,
	[ItemName] [nvarchar](500) NOT NULL,
	[ItemType] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[CategoryId] [bigint] NULL,
	[BrandId] [bigint] NULL,
	[BaseUomId] [bigint] NOT NULL,
	[PackagingSpecId] [bigint] NULL,
	[RequiresCO] [bit] NOT NULL,
	[RequiresCQ] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DefaultWarehouseId] [bigint] NULL,
	[InventoryAccount] [nvarchar](50) NULL,
	[RevenueAccount] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ShelfLifeDays] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemWarehousePolicy]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemWarehousePolicy](
	[ItemWarehousePolicyId] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[MinQty] [decimal](18, 3) NOT NULL,
	[ReorderQty] [decimal](18, 3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemWarehousePolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IWP] UNIQUE NONCLUSTERED 
(
	[ItemId] ASC,
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[RefType] [nvarchar](20) NULL,
	[RefId] [bigint] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[Type] [nvarchar](50) NULL,
	[Severity] [tinyint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ExpiresAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackagingSpecs]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackagingSpecs](
	[PackagingSpecId] [bigint] IDENTITY(1,1) NOT NULL,
	[SpecName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PackagingSpecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[TokenHash] [varbinary](256) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintTemplates]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintTemplates](
	[PrintTemplateId] [bigint] IDENTITY(1,1) NOT NULL,
	[DocumentType] [nvarchar](50) NOT NULL,
	[TemplateName] [nvarchar](200) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[HtmlBody] [nvarchar](max) NOT NULL,
	[PaperSize] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PrintTemplates] PRIMARY KEY CLUSTERED 
(
	[PrintTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderLines](
	[PurchaseOrderLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[OrderedQty] [decimal](18, 3) NOT NULL,
	[UomId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[ReceivedQty] [decimal](18, 3) NOT NULL,
	[LineStatus] [varchar](20) NOT NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Currency] [nvarchar](10) NULL,
	[LineTotal]  AS ([OrderedQty]*[UnitPrice]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderId] [bigint] IDENTITY(1,1) NOT NULL,
	[POCode] [nvarchar](50) NOT NULL,
	[RequestedBy] [bigint] NOT NULL,
	[SupplierId] [bigint] NULL,
	[RequestedDate] [date] NULL,
	[Justification] [nvarchar](1000) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CurrentStageNo] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[LifecycleStatus] [varchar](10) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DiscountAmount] [decimal](18, 2) NOT NULL,
	[NetAmount]  AS (CONVERT([decimal](18,2),[TotalAmount]-[DiscountAmount])) PERSISTED,
	[ResponsibleUserId] [bigint] NULL,
	[WarehouseId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[POCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturnNoteLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturnNoteLines](
	[PurchaseReturnLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseReturnId] [bigint] NOT NULL,
	[ReturnQty] [decimal](18, 3) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal]  AS (CONVERT([decimal](18,2),[ReturnQty]*[UnitPrice])) PERSISTED,
	[Reason] [nvarchar](500) NULL,
	[Note] [nvarchar](1000) NULL,
	[RelatedGRNLineId] [bigint] NULL,
	[ItemId] [bigint] NOT NULL,
	[UomId] [bigint] NOT NULL,
 CONSTRAINT [PK_PurchaseReturnNoteLines] PRIMARY KEY CLUSTERED 
(
	[PurchaseReturnLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReturnNotes]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReturnNotes](
	[PurchaseReturnId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReturnCode] [varchar](30) NOT NULL,
	[RelatedGRNId] [bigint] NULL,
	[ReturnDate] [datetime2](0) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[Note] [nvarchar](1000) NULL,
	[FeeAmount] [decimal](18, 2) NOT NULL,
	[RefundStatus] [varchar](20) NOT NULL,
	[RefundedAmount] [decimal](18, 2) NOT NULL,
	[RefundedAt] [datetime2](0) NULL,
	[RefundMethod] [varchar](30) NULL,
	[RefundReference] [nvarchar](100) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ApprovedBy] [bigint] NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[PostedAt] [datetime2](0) NULL,
	[SupplierId] [bigint] NULL,
	[WarehouseId] [bigint] NULL,
	[TotalReturnedQty] [decimal](18, 3) NOT NULL,
	[TotalReturnedAmount] [decimal](18, 3) NOT NULL,
 CONSTRAINT [PK_PurchaseReturnNotes] PRIMARY KEY CLUSTERED 
(
	[PurchaseReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PurchaseReturnNotes_ReturnCode] UNIQUE NONCLUSTERED 
(
	[ReturnCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receivers]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receivers](
	[ReceiverId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReceiverCode] [nvarchar](50) NULL,
	[ReceiverName] [nvarchar](300) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](500) NULL,
	[Notes] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[CompanyId] [bigint] NULL,
	[Position] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiverCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseRequestLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseRequestLines](
	[ReleaseRequestLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReleaseRequestId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[RequestedQty] [decimal](18, 3) NOT NULL,
	[UomId] [bigint] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[ApprovedQty] [decimal](18, 3) NOT NULL,
	[AllocatedQty] [decimal](18, 3) NOT NULL,
	[IssuedQty] [decimal](18, 3) NOT NULL,
	[UnitCostAtIssue] [decimal](18, 2) NULL,
	[PackagingSpecId] [bigint] NULL,
	[RemainingToIssue]  AS (CONVERT([decimal](18,3),[ApprovedQty]-[IssuedQty])) PERSISTED,
	[LineStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReleaseRequestLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReleaseRequests]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReleaseRequests](
	[ReleaseRequestId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReleaseRequestCode] [nvarchar](50) NOT NULL,
	[RequestedBy] [bigint] NOT NULL,
	[ReceiverId] [bigint] NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[RequestedDate] [date] NULL,
	[Purpose] [nvarchar](500) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ExpectedDate] [date] NULL,
	[LifecycleStatus] [varchar](20) NOT NULL,
	[IsPartialDeliveryAllowed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReleaseRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReleaseRequestCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StocktakeLines]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StocktakeLines](
	[StocktakeLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[StocktakeId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[SystemQtySnapshot] [decimal](18, 3) NOT NULL,
	[CountedQty] [decimal](18, 3) NULL,
	[VarianceQty]  AS (isnull([CountedQty],(0))-[SystemQtySnapshot]) PERSISTED,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_STL] UNIQUE NONCLUSTERED 
(
	[StocktakeId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StocktakeSessions]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StocktakeSessions](
	[StocktakeId] [bigint] IDENTITY(1,1) NOT NULL,
	[StocktakeCode] [nvarchar](50) NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[Mode] [nvarchar](20) NOT NULL,
	[PlannedAt] [datetime2](7) NULL,
	[StartedAt] [datetime2](7) NULL,
	[EndedAt] [datetime2](7) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[StocktakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[StocktakeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageLocations]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageLocations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[WarehouseId] [bigint] NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [bigint] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [nvarchar](50) NULL,
	[SupplierName] [nvarchar](300) NOT NULL,
	[TaxCode] [nvarchar](50) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportInfos]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportInfos](
	[TransportId] [bigint] IDENTITY(1,1) NOT NULL,
	[GDNId] [bigint] NOT NULL,
	[CarrierName] [nvarchar](200) NULL,
	[DriverName] [nvarchar](200) NULL,
	[DriverPhone] [nvarchar](20) NULL,
	[LicensePlate] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TransportInfos] PRIMARY KEY CLUSTERED 
(
	[TransportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TransportInfos_GDN] UNIQUE NONCLUSTERED 
(
	[GDNId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[UomId] [bigint] IDENTITY(1,1) NOT NULL,
	[UomName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[AssignedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserRoles_User] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 4/24/2026 7:10:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseId] [bigint] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [nvarchar](50) NOT NULL,
	[WarehouseName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](400) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[District] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WarehouseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  CONSTRAINT [DF_Addresses_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Addresses] ADD  CONSTRAINT [DF_Addresses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [DF_Companies_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [DF_Companies_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DocumentApproval] ADD  DEFAULT ((1)) FOR [StageNo]
GO
ALTER TABLE [dbo].[DocumentApproval] ADD  DEFAULT (sysutcdatetime()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[DocumentAttachments] ADD  DEFAULT ('GENERAL') FOR [AttachmentType]
GO
ALTER TABLE [dbo].[DocumentAttachments] ADD  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] ADD  CONSTRAINT [DF_GDNLines_RequiresCertificateCopy]  DEFAULT ((0)) FOR [RequiresCertificateCopy]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD  CONSTRAINT [DF_GDN_ShippingFee]  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD  CONSTRAINT [DF_GDN_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD  CONSTRAINT [DF_GDN_TotalDeliveredQty]  DEFAULT ((0)) FOR [TotalDeliveredQty]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] ADD  CONSTRAINT [DF_GDN_TotalDeliveredAmount]  DEFAULT ((0)) FOR [TotalDeliveredAmount]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] ADD  DEFAULT ((0)) FOR [RequiresCOCQ]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD  CONSTRAINT [DF_GRN_ShippingFee]  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD  CONSTRAINT [DF_GRN_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD  CONSTRAINT [DF_GRN_TotalReceivedQty]  DEFAULT ((0)) FOR [TotalReceivedQty]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] ADD  CONSTRAINT [DF_GRN_TotalGoodsAmount]  DEFAULT ((0)) FOR [TotalGoodsAmount]
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[InventoryLots] ADD  CONSTRAINT [DF_InventoryLots_ReceiptDate]  DEFAULT (sysutcdatetime()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[InventoryLots] ADD  CONSTRAINT [DF_InventoryLots_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InventoryOnHand] ADD  DEFAULT ((0)) FOR [OnHandQty]
GO
ALTER TABLE [dbo].[InventoryOnHand] ADD  DEFAULT ((0)) FOR [ReservedQty]
GO
ALTER TABLE [dbo].[InventoryOnHand] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[InventoryOnHand] ADD  CONSTRAINT [DF_InventoryOnHand_UnitCost]  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (sysutcdatetime()) FOR [TxnDate]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT ('POSTED') FOR [Status]
GO
ALTER TABLE [dbo].[ItemCategories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ItemParameters] ADD  DEFAULT ('TEXT') FOR [DataType]
GO
ALTER TABLE [dbo].[ItemParameters] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [RequiresCO]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [RequiresCQ]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ItemWarehousePolicy] ADD  DEFAULT ((0)) FOR [MinQty]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_Severity]  DEFAULT ((1)) FOR [Severity]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PackagingSpecs] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PrintTemplates] ADD  CONSTRAINT [DF_PrintTemplates_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[PrintTemplates] ADD  CONSTRAINT [DF_PrintTemplates_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrderLines] ADD  CONSTRAINT [DF_PurchaseOrderLines_ReceivedQty]  DEFAULT ((0)) FOR [ReceivedQty]
GO
ALTER TABLE [dbo].[PurchaseOrderLines] ADD  CONSTRAINT [DF_PurchaseOrderLines_LineStatus]  DEFAULT ('Open') FOR [LineStatus]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [CurrentStageNo]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  CONSTRAINT [DF_PurchaseOrders_LifecycleStatus]  DEFAULT ('Open') FOR [LifecycleStatus]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  CONSTRAINT [DF_PurchaseOrders_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  CONSTRAINT [DF_PurchaseOrders_DiscountAmount]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_ReturnDate]  DEFAULT (sysutcdatetime()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_Status]  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_FeeAmount]  DEFAULT ((0)) FOR [FeeAmount]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_RefundStatus]  DEFAULT ('NotRefunded') FOR [RefundStatus]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_RefundedAmount]  DEFAULT ((0)) FOR [RefundedAmount]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  CONSTRAINT [DF_PurchaseReturnNotes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  DEFAULT ((0)) FOR [TotalReturnedQty]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] ADD  DEFAULT ((0)) FOR [TotalReturnedAmount]
GO
ALTER TABLE [dbo].[Receivers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Receivers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReleaseRequestLines] ADD  CONSTRAINT [DF_RRLines_ApprovedQty]  DEFAULT ((0)) FOR [ApprovedQty]
GO
ALTER TABLE [dbo].[ReleaseRequestLines] ADD  CONSTRAINT [DF_RRLines_AllocatedQty]  DEFAULT ((0)) FOR [AllocatedQty]
GO
ALTER TABLE [dbo].[ReleaseRequestLines] ADD  CONSTRAINT [DF_RRLines_IssuedQty]  DEFAULT ((0)) FOR [IssuedQty]
GO
ALTER TABLE [dbo].[ReleaseRequestLines] ADD  CONSTRAINT [DF_RRLines_LineStatus]  DEFAULT ('Open') FOR [LineStatus]
GO
ALTER TABLE [dbo].[ReleaseRequests] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[ReleaseRequests] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReleaseRequests] ADD  CONSTRAINT [DF_ReleaseRequests_LifecycleStatus]  DEFAULT ('IssuePending') FOR [LifecycleStatus]
GO
ALTER TABLE [dbo].[ReleaseRequests] ADD  CONSTRAINT [DF_ReleaseRequests_PartialDelivery]  DEFAULT ((1)) FOR [IsPartialDeliveryAllowed]
GO
ALTER TABLE [dbo].[StocktakeLines] ADD  DEFAULT ((0)) FOR [SystemQtySnapshot]
GO
ALTER TABLE [dbo].[StocktakeSessions] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[StorageLocations] ADD  CONSTRAINT [DF_StorageLocations_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StorageLocations] ADD  CONSTRAINT [DF_StorageLocations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransportInfos] ADD  CONSTRAINT [DF_TransportInfos_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UnitOfMeasure] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_PasswordHash]  DEFAULT (N'') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Companies]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_Audit_User] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_Audit_User]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Cert_GRNLine] FOREIGN KEY([GRNLineId])
REFERENCES [dbo].[GoodsReceiptNoteLines] ([GRNLineId])
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Cert_GRNLine]
GO
ALTER TABLE [dbo].[DocumentApproval]  WITH CHECK ADD  CONSTRAINT [FK_DA_ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DocumentApproval] CHECK CONSTRAINT [FK_DA_ActionBy]
GO
ALTER TABLE [dbo].[DocumentAttachments]  WITH CHECK ADD  CONSTRAINT [FK_DAtt_UploadedBy] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[DocumentAttachments] CHECK CONSTRAINT [FK_DAtt_UploadedBy]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GDNL_GDN] FOREIGN KEY([GDNId])
REFERENCES [dbo].[GoodsDeliveryNotes] ([GDNId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [FK_GDNL_GDN]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GDNL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [FK_GDNL_Item]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GDNL_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [FK_GDNL_Uom]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GDNLines_InventoryLots] FOREIGN KEY([LotId])
REFERENCES [dbo].[InventoryLots] ([LotId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [FK_GDNLines_InventoryLots]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GDNLines_RRLines] FOREIGN KEY([ReleaseRequestLineId])
REFERENCES [dbo].[ReleaseRequestLines] ([ReleaseRequestLineId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [FK_GDNLines_RRLines]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [FK_GDN_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [FK_GDN_CreatedBy]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [FK_GDN_GIR] FOREIGN KEY([ReleaseRequestId])
REFERENCES [dbo].[ReleaseRequests] ([ReleaseRequestId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [FK_GDN_GIR]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [FK_GDN_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [FK_GDN_Warehouse]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GRNL_GRN] FOREIGN KEY([GRNId])
REFERENCES [dbo].[GoodsReceiptNotes] ([GRNId])
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] CHECK CONSTRAINT [FK_GRNL_GRN]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GRNL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] CHECK CONSTRAINT [FK_GRNL_Item]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GRNL_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] CHECK CONSTRAINT [FK_GRNL_Uom]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_GRNLines_PurchaseOrderLines] FOREIGN KEY([PurchaseOrderLineId])
REFERENCES [dbo].[PurchaseOrderLines] ([PurchaseOrderLineId])
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] CHECK CONSTRAINT [FK_GRNLines_PurchaseOrderLines]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_CreatedBy]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_PR] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_PR]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_Supplier]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [FK_GRN_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [FK_GRN_Warehouse]
GO
ALTER TABLE [dbo].[InventoryAdjustmentLines]  WITH CHECK ADD  CONSTRAINT [FK_ADJL_ADJ] FOREIGN KEY([AdjustmentId])
REFERENCES [dbo].[InventoryAdjustmentRequests] ([AdjustmentId])
GO
ALTER TABLE [dbo].[InventoryAdjustmentLines] CHECK CONSTRAINT [FK_ADJL_ADJ]
GO
ALTER TABLE [dbo].[InventoryAdjustmentLines]  WITH CHECK ADD  CONSTRAINT [FK_ADJL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[InventoryAdjustmentLines] CHECK CONSTRAINT [FK_ADJL_Item]
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ADJ_ST] FOREIGN KEY([StocktakeId])
REFERENCES [dbo].[StocktakeSessions] ([StocktakeId])
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests] CHECK CONSTRAINT [FK_ADJ_ST]
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ADJ_SubmittedBy] FOREIGN KEY([SubmittedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests] CHECK CONSTRAINT [FK_ADJ_SubmittedBy]
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests]  WITH CHECK ADD  CONSTRAINT [FK_ADJ_WH] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests] CHECK CONSTRAINT [FK_ADJ_WH]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLots_GRNLines] FOREIGN KEY([GRNLineId])
REFERENCES [dbo].[GoodsReceiptNoteLines] ([GRNLineId])
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [FK_InventoryLots_GRNLines]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLots_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [FK_InventoryLots_Items]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLots_StorageLocations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[StorageLocations] ([LocationId])
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [FK_InventoryLots_StorageLocations]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLots_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [FK_InventoryLots_Warehouses]
GO
ALTER TABLE [dbo].[InventoryOnHand]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[InventoryOnHand] CHECK CONSTRAINT [FK_Inv_Item]
GO
ALTER TABLE [dbo].[InventoryOnHand]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryOnHand] CHECK CONSTRAINT [FK_Inv_Warehouse]
GO
ALTER TABLE [dbo].[InventoryTransactionLines]  WITH CHECK ADD  CONSTRAINT [FK_InvTxnLines_InventoryLots] FOREIGN KEY([LotId])
REFERENCES [dbo].[InventoryLots] ([LotId])
GO
ALTER TABLE [dbo].[InventoryTransactionLines] CHECK CONSTRAINT [FK_InvTxnLines_InventoryLots]
GO
ALTER TABLE [dbo].[InventoryTransactionLines]  WITH CHECK ADD  CONSTRAINT [FK_ITL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[InventoryTransactionLines] CHECK CONSTRAINT [FK_ITL_Item]
GO
ALTER TABLE [dbo].[InventoryTransactionLines]  WITH CHECK ADD  CONSTRAINT [FK_ITL_Txn] FOREIGN KEY([InventoryTxnId])
REFERENCES [dbo].[InventoryTransactions] ([InventoryTxnId])
GO
ALTER TABLE [dbo].[InventoryTransactionLines] CHECK CONSTRAINT [FK_ITL_Txn]
GO
ALTER TABLE [dbo].[InventoryTransactionLines]  WITH CHECK ADD  CONSTRAINT [FK_ITL_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[InventoryTransactionLines] CHECK CONSTRAINT [FK_ITL_Uom]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_IT_PostedBy] FOREIGN KEY([PostedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_IT_PostedBy]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_IT_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_IT_Warehouse]
GO
ALTER TABLE [dbo].[ItemCategories]  WITH CHECK ADD  CONSTRAINT [FK_ItemCategories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ItemCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[ItemCategories] CHECK CONSTRAINT [FK_ItemCategories_Parent]
GO
ALTER TABLE [dbo].[ItemParameterValues]  WITH CHECK ADD  CONSTRAINT [FK_IPV_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[ItemParameterValues] CHECK CONSTRAINT [FK_IPV_Item]
GO
ALTER TABLE [dbo].[ItemParameterValues]  WITH CHECK ADD  CONSTRAINT [FK_IPV_Param] FOREIGN KEY([ParamId])
REFERENCES [dbo].[ItemParameters] ([ParamId])
GO
ALTER TABLE [dbo].[ItemParameterValues] CHECK CONSTRAINT [FK_IPV_Param]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [FK_ItemPrices_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [FK_ItemPrices_Items]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([BrandId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Brand]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ItemCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Category]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_DefaultWarehouse] FOREIGN KEY([DefaultWarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_DefaultWarehouse]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Packaging] FOREIGN KEY([PackagingSpecId])
REFERENCES [dbo].[PackagingSpecs] ([PackagingSpecId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Packaging]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Uom] FOREIGN KEY([BaseUomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Uom]
GO
ALTER TABLE [dbo].[ItemWarehousePolicy]  WITH CHECK ADD  CONSTRAINT [FK_IWP_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[ItemWarehousePolicy] CHECK CONSTRAINT [FK_IWP_Item]
GO
ALTER TABLE [dbo].[ItemWarehousePolicy]  WITH CHECK ADD  CONSTRAINT [FK_IWP_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[ItemWarehousePolicy] CHECK CONSTRAINT [FK_IWP_Warehouse]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_User]
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD  CONSTRAINT [FK_PRT_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PasswordResetTokens] CHECK CONSTRAINT [FK_PRT_User]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [FK_PRL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [FK_PRL_Item]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [FK_PRL_PR] FOREIGN KEY([PurchaseOrderId])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderId])
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [FK_PRL_PR]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [FK_PRL_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [FK_PRL_Uom]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PR_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PR_RequestedBy]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PR_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PR_Supplier]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_ResponsibleUser] FOREIGN KEY([ResponsibleUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_ResponsibleUser]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Warehouses]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_PRNLine_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [FK_PRNLine_Items]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_PRNLine_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [FK_PRNLine_Uom]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReturnNoteLines_GRNLines] FOREIGN KEY([RelatedGRNLineId])
REFERENCES [dbo].[GoodsReceiptNoteLines] ([GRNLineId])
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [FK_PurchaseReturnNoteLines_GRNLines]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReturnNoteLines_PurchaseReturnNotes] FOREIGN KEY([PurchaseReturnId])
REFERENCES [dbo].[PurchaseReturnNotes] ([PurchaseReturnId])
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [FK_PurchaseReturnNoteLines_PurchaseReturnNotes]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [FK_PRN_Suppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [FK_PRN_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [FK_PRN_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [FK_PRN_Warehouses]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReturnNotes_GoodsReceiptNotes] FOREIGN KEY([RelatedGRNId])
REFERENCES [dbo].[GoodsReceiptNotes] ([GRNId])
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [FK_PurchaseReturnNotes_GoodsReceiptNotes]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReturnNotes_Users_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [FK_PurchaseReturnNotes_Users_ApprovedBy]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseReturnNotes_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [FK_PurchaseReturnNotes_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Receivers]  WITH CHECK ADD  CONSTRAINT [FK_Receivers_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Receivers] CHECK CONSTRAINT [FK_Receivers_Companies]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [FK_GIRL_GIR] FOREIGN KEY([ReleaseRequestId])
REFERENCES [dbo].[ReleaseRequests] ([ReleaseRequestId])
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [FK_GIRL_GIR]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [FK_GIRL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [FK_GIRL_Item]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [FK_GIRL_Uom] FOREIGN KEY([UomId])
REFERENCES [dbo].[UnitOfMeasure] ([UomId])
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [FK_GIRL_Uom]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [FK_RRLines_PackagingSpecs] FOREIGN KEY([PackagingSpecId])
REFERENCES [dbo].[PackagingSpecs] ([PackagingSpecId])
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [FK_RRLines_PackagingSpecs]
GO
ALTER TABLE [dbo].[ReleaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_GIR_Receiver] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Receivers] ([ReceiverId])
GO
ALTER TABLE [dbo].[ReleaseRequests] CHECK CONSTRAINT [FK_GIR_Receiver]
GO
ALTER TABLE [dbo].[ReleaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_GIR_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ReleaseRequests] CHECK CONSTRAINT [FK_GIR_RequestedBy]
GO
ALTER TABLE [dbo].[ReleaseRequests]  WITH CHECK ADD  CONSTRAINT [FK_GIR_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[ReleaseRequests] CHECK CONSTRAINT [FK_GIR_Warehouse]
GO
ALTER TABLE [dbo].[StocktakeLines]  WITH CHECK ADD  CONSTRAINT [FK_STL_Item] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[StocktakeLines] CHECK CONSTRAINT [FK_STL_Item]
GO
ALTER TABLE [dbo].[StocktakeLines]  WITH CHECK ADD  CONSTRAINT [FK_STL_ST] FOREIGN KEY([StocktakeId])
REFERENCES [dbo].[StocktakeSessions] ([StocktakeId])
GO
ALTER TABLE [dbo].[StocktakeLines] CHECK CONSTRAINT [FK_STL_ST]
GO
ALTER TABLE [dbo].[StocktakeSessions]  WITH CHECK ADD  CONSTRAINT [FK_ST_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StocktakeSessions] CHECK CONSTRAINT [FK_ST_CreatedBy]
GO
ALTER TABLE [dbo].[StocktakeSessions]  WITH CHECK ADD  CONSTRAINT [FK_ST_Warehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[StocktakeSessions] CHECK CONSTRAINT [FK_ST_Warehouse]
GO
ALTER TABLE [dbo].[StorageLocations]  WITH CHECK ADD  CONSTRAINT [FK_StorageLocations_Warehouses] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([WarehouseId])
GO
ALTER TABLE [dbo].[StorageLocations] CHECK CONSTRAINT [FK_StorageLocations_Warehouses]
GO
ALTER TABLE [dbo].[TransportInfos]  WITH CHECK ADD  CONSTRAINT [FK_TransportInfos_GDN] FOREIGN KEY([GDNId])
REFERENCES [dbo].[GoodsDeliveryNotes] ([GDNId])
GO
ALTER TABLE [dbo].[TransportInfos] CHECK CONSTRAINT [FK_TransportInfos_GDN]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_AssignedBy]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [CK_Cert_Type] CHECK  (([CertType]='CQ' OR [CertType]='CO'))
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [CK_Cert_Type]
GO
ALTER TABLE [dbo].[DocumentApproval]  WITH CHECK ADD  CONSTRAINT [CK_DA_Decision] CHECK  (([Decision]='POST' OR [Decision]='RECEIVE' OR [Decision]='ISSUE' OR [Decision]='RECOUNT' OR [Decision]='CANCEL' OR [Decision]='REQUEST_MODIFY' OR [Decision]='REJECT' OR [Decision]='APPROVE' OR [Decision]='SUBMIT'))
GO
ALTER TABLE [dbo].[DocumentApproval] CHECK CONSTRAINT [CK_DA_Decision]
GO
ALTER TABLE [dbo].[DocumentApproval]  WITH CHECK ADD  CONSTRAINT [CK_DA_DocType] CHECK  (([DocType]='STOCKTAKE' OR [DocType]='ADJ' OR [DocType]='GDN' OR [DocType]='GIR' OR [DocType]='GRN' OR [DocType]='PR'))
GO
ALTER TABLE [dbo].[DocumentApproval] CHECK CONSTRAINT [CK_DA_DocType]
GO
ALTER TABLE [dbo].[DocumentAttachments]  WITH CHECK ADD  CONSTRAINT [CK_DAtt_AttType] CHECK  (([AttachmentType]='OTHER' OR [AttachmentType]='EVIDENCE' OR [AttachmentType]='CQ' OR [AttachmentType]='CO' OR [AttachmentType]='INVOICE' OR [AttachmentType]='GENERAL' OR [AttachmentType]='QUOTATION' OR [AttachmentType]='CONTRACT' OR [AttachmentType]='CONTRACT_APPENDIX'))
GO
ALTER TABLE [dbo].[DocumentAttachments] CHECK CONSTRAINT [CK_DAtt_AttType]
GO
ALTER TABLE [dbo].[DocumentAttachments]  WITH CHECK ADD  CONSTRAINT [CK_DAtt_DocType] CHECK  (([DocType]='STOCKTAKE' OR [DocType]='ADJ' OR [DocType]='GDN' OR [DocType]='GIR' OR [DocType]='GRN' OR [DocType]='PR' OR [DocType]='PRN'))
GO
ALTER TABLE [dbo].[DocumentAttachments] CHECK CONSTRAINT [CK_DAtt_DocType]
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines]  WITH CHECK ADD  CONSTRAINT [CK_GDNLines_UnitPrice_NonNegative] CHECK  (([UnitPrice] IS NULL OR [UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[GoodsDeliveryNoteLines] CHECK CONSTRAINT [CK_GDNLines_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [CK_GDN_PaymentMethod] CHECK  (([PaymentMethod] IS NULL OR ([PaymentMethod]='OTHER' OR [PaymentMethod]='E_WALLET' OR [PaymentMethod]='CARD' OR [PaymentMethod]='BANK_TRANSFER' OR [PaymentMethod]='CASH')))
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [CK_GDN_PaymentMethod]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [CK_GDN_Status] CHECK  (([Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='POSTED' OR [Status]='ISSUED' OR [Status]='APPROVED' OR [Status]='PENDING_ISSUE' OR [Status]='PENDING_DIR' OR [Status]='PENDING_ACC' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [CK_GDN_Status]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [CK_GDN_Totals_NonNegative] CHECK  (([ShippingFee]>=(0) AND [TotalDeliveredQty]>=(0) AND [TotalDeliveredAmount]>=(0)))
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [CK_GDN_Totals_NonNegative]
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes]  WITH CHECK ADD  CONSTRAINT [CK_GoodsDeliveryNotes_Status] CHECK  (([Status]='APPROVED' OR [Status]='PENDING_DIR' OR [Status]='PENDING_ACC' OR [Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='POSTED' OR [Status]='ISSUED' OR [Status]='PENDING_ISSUE' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[GoodsDeliveryNotes] CHECK CONSTRAINT [CK_GoodsDeliveryNotes_Status]
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines]  WITH CHECK ADD  CONSTRAINT [CK_GRNLines_UnitPrice_NonNegative] CHECK  (([UnitPrice] IS NULL OR [UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[GoodsReceiptNoteLines] CHECK CONSTRAINT [CK_GRNLines_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [CK_GRN_Paid_Method] CHECK  (([IsPaid]=(0) AND [PaymentMethod] IS NULL OR [IsPaid]=(1) AND [PaymentMethod] IS NOT NULL))
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [CK_GRN_Paid_Method]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH NOCHECK ADD  CONSTRAINT [CK_GRN_PaymentMethod] CHECK  (([PaymentMethod] IS NULL OR ([PaymentMethod]='OTHER' OR [PaymentMethod]='E_WALLET' OR [PaymentMethod]='CARD' OR [PaymentMethod]='BANK_TRANSFER' OR [PaymentMethod]='CASH')))
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] NOCHECK CONSTRAINT [CK_GRN_PaymentMethod]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [CK_GRN_ShippingFee_NonNegative] CHECK  (([ShippingFee]>=(0)))
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [CK_GRN_ShippingFee_NonNegative]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [CK_GRN_Status] CHECK  (([Status]='REJECTED' OR [Status]='POSTED' OR [Status]='APPROVED' OR [Status]='NEED_MODIFY' OR [Status]='PENDING_ACC' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [CK_GRN_Status]
GO
ALTER TABLE [dbo].[GoodsReceiptNotes]  WITH CHECK ADD  CONSTRAINT [CK_GRN_Totals_NonNegative] CHECK  (([TotalReceivedQty]>=(0) AND [TotalGoodsAmount]>=(0)))
GO
ALTER TABLE [dbo].[GoodsReceiptNotes] CHECK CONSTRAINT [CK_GRN_Totals_NonNegative]
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests]  WITH CHECK ADD  CONSTRAINT [CK_ADJ_Status] CHECK  (([Status]='POSTED' OR [Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING_DIR' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[InventoryAdjustmentRequests] CHECK CONSTRAINT [CK_ADJ_Status]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [CK_InventoryLots_Qty_NonNegative] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [CK_InventoryLots_Qty_NonNegative]
GO
ALTER TABLE [dbo].[InventoryLots]  WITH CHECK ADD  CONSTRAINT [CK_InventoryLots_UnitCost_NonNegative] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[InventoryLots] CHECK CONSTRAINT [CK_InventoryLots_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[InventoryOnHand]  WITH CHECK ADD  CONSTRAINT [CK_InventoryOnHand_UnitCost_NonNegative] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[InventoryOnHand] CHECK CONSTRAINT [CK_InventoryOnHand_UnitCost_NonNegative]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_IT_RefType] CHECK  (([ReferenceType]='PRN' OR [ReferenceType]='PR' OR [ReferenceType]='GRN' OR [ReferenceType]='GIR' OR [ReferenceType]='GDN' OR [ReferenceType]='ADJ' OR [ReferenceType]='STOCKTAKE'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_IT_RefType]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [CK_IT_TxnType] CHECK  (([TxnType]='PURCHASE_RETURN' OR [TxnType]='INBOUND' OR [TxnType]='OUTBOUND' OR [TxnType]='ADJUST'))
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [CK_IT_TxnType]
GO
ALTER TABLE [dbo].[ItemPrices]  WITH CHECK ADD  CONSTRAINT [CK_ItemPrices_PriceType] CHECK  (([PriceType]='PURCHASE' OR [PriceType]='COST' OR [PriceType]='SALE'))
GO
ALTER TABLE [dbo].[ItemPrices] CHECK CONSTRAINT [CK_ItemPrices_PriceType]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [CK_Items_ShelfLifeDays_NonNegative] CHECK  (([ShelfLifeDays] IS NULL OR [ShelfLifeDays]>=(0)))
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [CK_Items_ShelfLifeDays_NonNegative]
GO
ALTER TABLE [dbo].[PurchaseOrderLines]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrderLines_LineStatus] CHECK  (([LineStatus]='FullyReceived' OR [LineStatus]='PartiallyReceived' OR [LineStatus]='Open'))
GO
ALTER TABLE [dbo].[PurchaseOrderLines] CHECK CONSTRAINT [CK_PurchaseOrderLines_LineStatus]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PR_Status] CHECK  (([Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING_DIR' OR [Status]='PENDING_ACC' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PR_Status]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_Discount_Valid] CHECK  (([TotalAmount]>=(0) AND [DiscountAmount]>=(0) AND [DiscountAmount]<=[TotalAmount]))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_Discount_Valid]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseOrders_LifecycleStatus] CHECK  (([LifecycleStatus]='Cancelled' OR [LifecycleStatus]='FullRcv' OR [LifecycleStatus]='PartRcv' OR [LifecycleStatus]='PendingRcv'))
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [CK_PurchaseOrders_LifecycleStatus]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH NOCHECK ADD  CONSTRAINT [CK_PurchaseOrders_Status] CHECK  (([Status]='Pending' OR [Status]='Approved' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[PurchaseOrders] NOCHECK CONSTRAINT [CK_PurchaseOrders_Status]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNoteLines_ReturnQty_Positive] CHECK  (([ReturnQty]>(0)))
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [CK_PurchaseReturnNoteLines_ReturnQty_Positive]
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNoteLines_UnitPrice_NonNegative] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReturnNoteLines] CHECK CONSTRAINT [CK_PurchaseReturnNoteLines_UnitPrice_NonNegative]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNotes_FeeAmount_NonNegative] CHECK  (([FeeAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [CK_PurchaseReturnNotes_FeeAmount_NonNegative]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNotes_RefundedAmount_NonNegative] CHECK  (([RefundedAmount]>=(0)))
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [CK_PurchaseReturnNotes_RefundedAmount_NonNegative]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNotes_RefundStatus] CHECK  (([RefundStatus]='Refunded' OR [RefundStatus]='PartiallyRefunded' OR [RefundStatus]='NotRefunded'))
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [CK_PurchaseReturnNotes_RefundStatus]
GO
ALTER TABLE [dbo].[PurchaseReturnNotes]  WITH CHECK ADD  CONSTRAINT [CK_PurchaseReturnNotes_Status] CHECK  (([Status]='CANCELLED' OR [Status]='POSTED' OR [Status]='APPROVED' OR [Status]='SUBMITTED' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[PurchaseReturnNotes] CHECK CONSTRAINT [CK_PurchaseReturnNotes_Status]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [CK_RRLines_LineStatus] CHECK  (([LineStatus]='IssueFull' OR [LineStatus]='IssuePartial' OR [LineStatus]='Open'))
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [CK_RRLines_LineStatus]
GO
ALTER TABLE [dbo].[ReleaseRequestLines]  WITH CHECK ADD  CONSTRAINT [CK_RRLines_Qty_NonNegative] CHECK  (([ApprovedQty]>=(0) AND [AllocatedQty]>=(0) AND [IssuedQty]>=(0) AND ([UnitCostAtIssue] IS NULL OR [UnitCostAtIssue]>=(0))))
GO
ALTER TABLE [dbo].[ReleaseRequestLines] CHECK CONSTRAINT [CK_RRLines_Qty_NonNegative]
GO
ALTER TABLE [dbo].[ReleaseRequests]  WITH CHECK ADD  CONSTRAINT [CK_GIR_Status] CHECK  (([Status]='CANCELLED' OR [Status]='REJECTED' OR [Status]='APPROVED' OR [Status]='PENDING_ACC' OR [Status]='DRAFT'))
GO
ALTER TABLE [dbo].[ReleaseRequests] CHECK CONSTRAINT [CK_GIR_Status]
GO
ALTER TABLE [dbo].[ReleaseRequests]  WITH CHECK ADD  CONSTRAINT [CK_ReleaseRequests_LifecycleStatus] CHECK  (([LifecycleStatus]='IssueFull' OR [LifecycleStatus]='IssuePartial' OR [LifecycleStatus]='IssuePending'))
GO
ALTER TABLE [dbo].[ReleaseRequests] CHECK CONSTRAINT [CK_ReleaseRequests_LifecycleStatus]
GO
ALTER TABLE [dbo].[StocktakeSessions]  WITH CHECK ADD  CONSTRAINT [CK_StocktakeSessions_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'COMPLETED' OR [Status]=N'PENDING_RESULTADJ' OR [Status]=N'IN_PROGRESS' OR [Status]=N'APPROVED' OR [Status]=N'PENDING_APPROVAL' OR [Status]=N'DRAFT'))
GO
ALTER TABLE [dbo].[StocktakeSessions] CHECK CONSTRAINT [CK_StocktakeSessions_Status]
GO
USE [master]
GO
